/*CSS Для контактов*/
.contacts-bottom-right{
	background: white;
	height: 26%;
	width: 3%;
	border: 2px solid #555;
	display: block;
	position: fixed;
	top: 78%;
	left: 98%;
	transform: translate(-50%,-50%);
	border-radius: 10px;
}

.ivan-phone{
	height: 6vh;
	width: 2vw;
	margin-top: 1vh;
	margin-left: 15%;
}

.ivan-email{
	height: 6vh;
	width: 2vw;
	margin-top: 0.3vh;
	margin-left: 15%;
}

.ivan-telega{
	height: 6vh;
	width: 2vw;
	margin-top: 0.3vh;
	margin-left: 15%;
}

.ivan-discord{
	height: 6vh;
	width: 2vw;
	margin-top: 0.3vh;
	margin-left: 15%;
}

.information-ivan{
	transform: translate(-50%,-50%);
	top: 78%;
	left: 87.5%;
	position: fixed;
	height: 26vh;
	width: 19vw;
}

.information-ivan b{
	color: #111;
}

.ivan-info-fi{
	transform: translate(-100%,-50%);
	width: 18vw;
	height: 6vh;
	position: relative;
	top: 3vh;
	left: 18vw;
	margin-top: 0.3vh;
	display: none;
}

.ivan-info-fi-yes{
	transform: translate(-100%,-50%);
	width: 18vw;
	height: 6vh;
	position: relative;
	top: 3vh;
	left: 18vw;
	margin-top: 0.3vh;
	animation: wowfi 1s;
	border-radius: 40px 0 0 10px;
}
.ivan-info-se{
	transform: translate(-100%,-50%);
	width: 18vw;
	height: 6vh;
	position: relative;
	top: 3vh;
	left: 18vw;
	margin-top: 0.3vh;
	display: none;
}

.ivan-info-se-yes{
	transform: translate(-100%,-50%);
	width: 18vw;
	height: 6vh;
	position: relative;
	top: 9vh;
	left: 18vw;
	margin-top: 0.3vh;
	animation: wowse 1s;
	border-radius: 40px 0 0 10px;

}
.ivan-info-th{
	transform: translate(-100%,-50%);
	width: 18vw;
	height: 6vh;
	position: relative;
	top: 3vh;
	left: 18vw;
	margin-top: 0.3vh;
	display: none;
}

.ivan-info-th-yes{
	transform: translate(-100%,-50%);
	width: 18vw;
	height: 6vh;
	position: relative;
	top: 16vh;
	left: 18vw;
	margin-top: 0.3vh;
	animation: wowth 1s;
	border-radius: 40px 0 0 10px;
}
.ivan-info-fo{
	transform: translate(-100%,-50%);
	width: 18vw;
	height: 6vh;
	position: relative;
	top: 3vh;
	left: 18vw;
	margin-top: 0.3vh;
	display: none;
}

.ivan-info-fo-yes{
	transform: translate(-100%,-50%);
	width: 18vw;
	height: 6vh;
	position: relative;
	top: 22vh;
	left: 18vw;
	margin-top: 0.3vh;
	animation: wowfo 1s;
	border-radius: 40px 0 0 10px;
}

@keyframes wowfi{
	0%{
		width: 0vw;
		height: 6vh;
	}
	100%{
		width: 18vw;
		height: 6vh;
	}

}

@keyframes wowse{
	0%{
		width: 0vw;
		height: 6vh;
	}
	100%{
		width: 18vw;
		height: 6vh;
	}

}

@keyframes wowth{
	0%{
		width: 0vw;
		height: 6vh;
	}
	100%{
		width: 18vw;
		height: 6vh;
	}
}

@keyframes wowfo{
	0%{
		width: 0vw;
		height: 6vh;
	}
	100%{
		width: 18vw;
		height: 6vh;
	}
}

.information-ivan b{
	font-size: 21px;
	text-align: center;
	display: inline-block;
	transform: translate(-100%,-50%);
	position: relative;
	top: 50%;
	left: 93%;
}