body {
}

.magazine {
	text-align: center;
	margin-bottom: 40px;
	background-image: url(#);
	padding-left: 200px;
	padding-right: 200px;
}


.magazine_spisok {
	width: 100%;
	display: flex;
	justify-content: center;
}

.bibutton {
	text-align: center;
	text-decoration: none;
	outline: none;
	display: inline-block;
	width: 140px;
	height: 45px;
	line-height: 45px;
	border-radius: 45px;
	margin: 10px 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	font-weight: 600;
	color: white;
	background: green;
	box-shadow: 0 8px 15px rgba(0,0,0,.1);
	transition: .3s;
	cursor: pointer;
}

.bibutton:hover {
	background: green;
	box-shadow: 0 15px 20px rgba(46,229,157,.4);
	color: white;
	transform: scale(1.1);
}

.magazine_first_column {
	width: 25%;
}

.magazine_verstka {
	outline: 1px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	height: 25%;
	width: 61%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.magazine_verstka:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.magazine_zena1 {
	text-align: right;
	padding-right: 5%;
	color: green;
	font-weight: bolder;
}

.magazine_second_column {
	width: 25%;
}

.magazine_third_column {
	width: 25%;
}